@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 191, 33%, 6%;
    --card: 0 0% 100%;
    --card-foreground: 191, 33%, 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 191, 33%, 6%;
    --primary: 14 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 16 100% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 191, 33%, 6%;
    --foreground: 60 9.1% 97.8%;
    --card: 191, 33%, 6%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 191, 33%, 6%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 14 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 196, 27%, 14%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 196, 27%, 14%;
    --muted-foreground: 172 13% 46%;
    --accent: 196, 27%, 14%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 196, 27%, 14%;
    --input: 196, 27%, 14%;
    --ring: 20.5 90.2% 48.2%;
  }
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
